<h2>New Post:</h2>
<form action="" id="newBlogPost">
    <input type="text" id="title" placeholder="Title...">
    <textarea id="body" placeholder="Type Here..."></textarea>
    <button type="submit" id="submitBtn">Submit!</button>
</form>
{{#each Blogs}}
<div>
    <p>{{title}}</p>
    <p>{{body}}</p>
    <p>{{id}}</p>
    <p>Posted on {{createdAt}}</p>
    <button id="deleteBtn" data-id={{id}}>Delete</button>
    <button id="updateBtn" data-id={{id}}>Update</button>
</div>
{{/each}}

<script src="/js/profile.js"></script>